# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Datasets (optional)
# =========================
datasets/
data/

# =========================
# Model files (optional)
# =========================
*.h5
*.pkl
*.joblib
*.model

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Cache
# =========================
.cache/